extends  base.pug

block scripts 
  script(src="/static/index.js")

block style 
  style
   include ../static/style.css
   include ../static/styleContact.css
block content 
  div.aboutcontent 

    h1 Performing Arts Center develops great dancers. We offer classes for children to adults, for beginners professional dancers, including tap, ballet, jazz, and modern classes, in Minnehaha, MN.
    h3 Razz Dance Academy
    h3 Anand nagar, Raisen road, Bhopal
    h3 PinCode- 462023,
    h3 Dance Classes ...more\"We Create The Creators\"
    
    h2 Year Established
    h3  1998
    
    
  



    

