//- index.pug
doctype html
html
  head
    title Razz Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
           div#logo 
               img(src="/static/img/logo.png") 
               |  HDA  
           li #[a(href="/") Home] 
           li #[a(href="/") About] 
           li #[a(href="/") Services]                  
           li #[a(href="/") Class Info]                 
           li #[a(href="/") Contact US]    
    section#introSection 
        div Welcome to Razz Dance Academy 
        div.small Eat sleep Dance Repeat
    section#missionSection 
        h2 Our mission
        div.card 
            h3 This is perfection
            div.card-box 
                div.card-img 
                    img(src="/static/img/1.png") 
                div.card-content 
                    p This is the best dance academy of the universe
        div.card
          h3 Dance the way you like 
          div.card-box 
                div.card-img 
                    img(src="/static/img/2.png") 
                div.card-content 
                    p This is the best dance academy of the universe
           
        div.card 
          h3 Export Teaching 
          div.card-box 
                div.card-img 
                    img(src="/static/img/3.png") 
                    img(src="/static/img/danceroom.jpg") 
                div.card-content 
                    p This is the best dance academy of the universe
          

    section#sponsorsSection 
        h2  Our sponsors
        div#sponsors 
            img(src="/static/img/logo1.png", alt="sponsor Image", class="spImage") 
            img(src="/static/img/logo2.png", alt="sponsor Image", class="spImage") 
            img(src="/static/img/logo3.png", alt="sponsor Image", class="spImage") 
            img(src="/static/img/logo4.png", alt="sponsor Image", class="spImage") 
    footer#footer 
        | Copyright @ 2019 RazzdanceAcademy.com | All right reserved                 
    script
      include ../static/index.js