extends base.pug 
block scripts 
  script(src='/static/index.js')

block style 
  style
    include ../static/style.css
    include ../static/styleContact.css 

block content
  div.servicecontent 
    h2 Services
    | 
    br
    |
    h3 Dance School
    h3 Specialties
    h3 Preschool Dance Classes
    h3 Adult Dance Classes
    h3 Ballet Classes
    h3 Jazz Dance Classes
    h3 Modern Dance Classes
    h3 Summer Dance Classes
    h3 Tap Dance Classes
    h3 Associations
    h3 National Dance Education Organization